[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain-openai = "*"
langchain = "*"
cd = "*"
pypdf = "*"
langchain-community = "*"
streamlit = "*"
duckduckgo-search = "*"
arxiv = "*"
wikipedia = "*"
langchain-experimental = "*"

[dev-packages]

[requires]
python_version = "3.11"
